<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>LeetSpeak</title>
  </head>
  <body>
    <div class="container">

    <div class="jumbotron">
      <h1>LeetSpeak Translator</h1>
      <a href="/form">Enter a sentence</a>
    </div>
  </div>

  </body>
</html>
